[[extend 'layout.html']]

<style>
    [v-cloak] {
        display: none;
    }
	a.navbar-item {
		margin-top: 1px;
		margin-right: 20px;
	}
</style>

<div class="section" id="vue-target" v-cloak>

	<div class="container block">
		<!-- Title -->
		<h1 class="title">
			<div style="text-align: center">
				Job Manager
			</div>
		</h1>

		<!-- Industry Field Search Bar -->
		<label for="search">
			<input @input="search_fields" v-model='inputField' id="search" type="text" placeholder="Search Field">
			<div v-for="f in showing_fields">
				<button class="secondary" @click="autofill_click($event, f)">{{f.field}}</button>
			</div>
		</label>

		<!-- Filter accordian Bar -->
		<details>
			<summary>Filter</summary>
			<input @input="job_filter" v-model='companyFilter' id="search" type="text" placeholder="Company">
			<button v-show="filter_progress" class="secondary" style="width: 24%; float:left; margin-left: auto;" @click="filter_progress = !filter_progress; job_filter()">In Progress</button>
			<button v-show="!filter_progress" class="outline" style="width: 24%; float:left; margin-left: auto" @click="filter_progress = !filter_progress; job_filter()">In Progress</button>
			<button v-show="filter_int" class="secondary" style="width: 24%; float:left; margin-left: 10px;" @click="filter_int = !filter_int; job_filter()">Interview</button>
			<button v-show="!filter_int" class="outline" style="width: 24%; float:left; margin-left: 10px;" @click="filter_int = !filter_int; job_filter()">Interview</button>
			<button v-show="filter_acc" class="secondary" style="width: 24%; float:left; margin-left: 10px;" @click="filter_acc = !filter_acc; job_filter()">Accepted</button>
			<button v-show="!filter_acc" class="outline" style="width: 24%; float:left; margin-left: 10px;" @click="filter_acc = !filter_acc; job_filter()">Accepted</button>
			<button v-show="filter_rej" class="secondary" style="width: 24%; float:left; margin-left: 10px; margin-right: auto;" @click="filter_rej = !filter_rej; job_filter()">Rejected</button>
			<button v-show="!filter_rej" class="outline" style="width: 24%; float:left; margin-left: 10px; margin-right: auto;" @click="filter_rej = !filter_rej; job_filter()">Rejected</button>
			<input @input="job_filter" style="width: 49%" v-model='salaryMin' id="search" type="number" placeholder="Salary (Min)">
			<input @input="job_filter" style="width: 49%; float:right" v-model='salaryMax' id="search" type="number" placeholder="Salary (Max)">
			<button class="contrast" style="width: 20%" @click="reset_filter">Reset</button>
		</details>
		<!-- Listing of User's Jobs -->
		<details role="list">
			<summary aria-haspopup="listbox">My Jobs</summary>
			<ul role="listbox">
				<li class="grid" v-for="r in filtered_jobs">
					<!-- Job Listing in Dropdown -->
					<a class="level-item" @click="load_job(r)">
						{{r.company}} - {{r.title}} - {{r.date_applied}}
					</a>
					<!-- Delete Button -->
					<div style="text-align: right">
						<a class="button" @click="delete_job(r._idx)" aria-label="delete">
							<span class="icon is-small">
								<i class="fa fa-trash" aria-hidden="true"></i>
							</span>
						</a>
					</div>
				</li>
				<!-- Add New Job -->
				<li @click="add_job(true);">
					<a class="button">
						<span class="icon">
							<i class="fa fa-plus"></i>
						</span>
					</a>
				</li>
			</ul>
		</details>
		<!-- Job Info Input Area -->
		<div v-for="j in active_job">
			<!-- Navigate to Job Analytics -->
			<div style="text-align: center;" v-if="j['field'] !== ''">
				<button class="secondary" @click="go_to_analytics(j.field)" style="color: white; display: inline-block; width: 25%" >Job Analytics</button>
			</div>

			<div v-for="tag in job_tags">
				<b>{{tag.name}}:</b>

				<!-- Dropdown for the Status field -->
				<div v-if="tag.id == 'type'">
					<input type="text" class="input" v-model="j[tag.id]"
						@click="search_type_status(j._idx, 'T')"
					/>
					<div v-for="t in showing_type_item">
						<button class="secondary" @click="autofill_type_status(j._idx, t, 'T'); start_edit(j._idx, tag.id)" @blur="stop_edit(j._idx, tag.id)">{{t.type}}</button>
					</div>
				</div>

				<!-- Dropdown for the Status field -->
				<div v-else-if="tag.id == 'status'">
					<input type="text" class="input" v-model="j[tag.id]"
						@click="search_type_status(j._idx, 'S')"
					/>
					<div v-for="s in showing_status_item">
						<button class="secondary" @click="autofill_type_status(j._idx, s, 'S'); start_edit(j._idx, tag.id)" @blur="stop_edit(j._idx, tag.id)">{{s.status}}</button>
					</div>
				</div>

				<div v-else-if="tag.id == 'field'">
					<!-- Dropdown for the Field field -->
					<input type="text" class="input" v-model="j[tag.id]"
						   :class="{'is-focused': j._state[tag.id] === 'edit', 'is-static': j._state[tag.id] === 'clean'}"
						   :readonly="j._state[tag.id] === 'clean'"
						   @click="start_edit(j._idx, tag.id)"
						   @blur="stop_edit(j._idx, tag.id)"
						   @input="search_fields_field(j._idx)" />
					<div v-for="f in showing_fields_item">
						<button class="secondary" @click="autofill_click_field(j._idx, f); start_edit(j._idx, tag.id)" @blur="stop_edit(j._idx, tag.id)">{{f.field}}</button>
					</div>
				</div>

				<!-- Input boxes for the other fields -->
				<input v-else-if="tag.id == 'salary'" type="number" class="input" v-model="j[tag.id]"
					   :class="{'is-focused': j._state[tag.id] === 'edit', 'is-static': j._state[tag.id] === 'clean'}"
					   :readonly="j._state[tag.id] === 'clean'"
					   @click="start_edit(j._idx, tag.id)"
					   @blur="stop_edit(j._idx, tag.id)" />
				<input v-else type="text" class="input" v-model="j[tag.id]"
					   :class="{'is-focused': j._state[tag.id] === 'edit', 'is-static': j._state[tag.id] === 'clean'}"
					   :readonly="j._state[tag.id] === 'clean'"
					   @click="start_edit(j._idx, tag.id)"
					   @blur="stop_edit(j._idx, tag.id)" />
			</div>

			<div style="margin-bottom: 20px"></div>

		</div>
	</div>
</div>


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
    let load_jobs_url = "[[=XML(load_jobs_url)]]";
    let add_job_url = "[[=XML(add_job_url)]]";
    let delete_job_url = "[[=XML(delete_job_url)]]";
    let edit_job_url = "[[=XML(edit_job_url)]]";
	let field_url = "[[=XML(field_url)]]";
	let get_field_url = "[[=XML(get_field_url)]]";
	let get_analytics_url = "[[=XML(get_analytics_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]
